.li {
  list-style: none;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
}

.li button {
  font: inherit;
  border: 1px solid white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
.li button:hover {
  color: #57038f;
}
